@import "tailwindcss";

@layer utilities {
  .a4-page {
    width: 210mm;
    min-height: 297mm;
    padding: 10mm 13mm 10mm 20mm; /* top right bottom left */
    margin: 0 auto;
    font-size: 13pt;
    font-family: "Times New Roman", Times, serif;
    line-height: 1.5;
    color: black;
    box-sizing: border-box;
  }

  @media print {
    @page {
      size: A4;
      margin: 0;
    }
    body {
      background: white;
      -webkit-print-color-adjust: exact;
    }
    .no-print {
      display: none !important;
    }
    .a4-page {
      box-shadow: none;
      margin: 0;
      width: 210mm;
      min-height: 297mm;
    }
  }
}
